@import '_variables';

@mixin content_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  max-width: var(--max-content-width);

  @media (max-width: $MQNarrow) {
    min-width: calc(100% - var(--sidebar-width-mobile));
    padding: 2rem;
  }

  @media (max-width: $MQMobileNarrow) {
    min-width: calc(100% - 5rem);
    padding: 1rem 0rem;
  }
}

@mixin dropdown_wrapper {
  transition: height 0.1s ease-out;
  overflow: hidden;
}
