@import '_variables';

.address-link {
  font-size: 0.85rem;
  font-family: monospace;
}

table {
  td {
    background: none;
  }
}

.pills-box {
  display: grid;
  grid-gap: 1.35rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin: 2rem 0;
}
