@import '_variables';

.address-link {
  font-size: 0.85rem;
  font-family: monospace;
}

table {
  width: 100%;
  table-layout: fixed;
  td {
    background: none;
  }
  td, th {
    font-size: 14px;    
    word-break: break-word; 
    overflow-wrap: break-word; 
    min-width: 140px;
    vertical-align: top;
  }
  td:first-child {
    min-width: 200px;
  }
}

.pills-box {
  display: grid;
  grid-gap: 1.35rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 2rem 0;
}
