@import '_mixins';
@import '_variables';

.sidebar {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    display: inline-block;
  }

  .navbar-items {
    display: none;
    border-bottom: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding: 0.5rem 0 0.75rem 0;

    .navbar-item {
      display: block;
      line-height: 1.25rem;
      font-size: 1.1em;
      font-weight: 600;
      padding: 0.5rem 0 0.5rem 0;

      a {
        font-weight: 600;
      }
    }
  }

  .sidebar-items {
    padding: 0;
  }

  .sidebar-link-text {
    vertical-align: top;
  }

  .feather-icon {
    display: inline-block;
    height: var(--dropdown-icon-height);
    width: var(--dropdown-icon-width);
    margin-inline-end: var(--dropdown-icon-gap);

    svg {
      margin-top: 5px;
    }
  }
}

.right-anchor {
  ul {
    list-style-type: none;
    line-height: 1.5rem;
    padding-left: 0rem;
  }

  .right-anchor-content {
    color: var(--c-sidebar-heading);
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  a {
    color: var(--c-link);
    filter: brightness(0.8);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
  }

  a:hover,
  a.active:hover {
    filter: brightness(1.2);
  }

  a.active {
    filter: brightness(1.1);
  }

  .right-anchor-children {
    padding-left: 1em;
  }

  .edit-link {
    margin-top: 5em;
  }
}

@media (max-width: $MQMobile) {
  .sidebar {
    .navbar-items {
      display: block;
      height: auto;

      .navbar-dropdown-wrapper
        .navbar-dropdown
        .navbar-dropdown-item
        a.router-link-active::after {
        top: calc(1rem - 2px);
      }

      .navbar-item {
        height: auto;
      }
    }

    .sidebar-items {
      padding: 1rem 0;
    }
  }
}

.sidebar-item {
  cursor: default;
  border-left: 0.25rem solid transparent;
  color: var(--c-text-lighter);

  &:focus-visible {
    outline-width: 1px;
    outline-offset: -1px;
  }

  &.active:not(p.sidebar-heading) {
    font-weight: 600;
  }

  &.sidebar-heading {
    color: var(--c-sidebar-heading);
    transition: color 0.3s ease-in-out;
    font-size: 0.94rem;
    font-weight: 700;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;

    + .sidebar-item-children {
      @include dropdown_wrapper;
      margin-bottom: 0.75rem;
    }

    &.collapsible {
      cursor: pointer;

      .arrow {
        position: relative;
        top: -0.12em;
        left: 0.5em;
      }
    }
  }

  &:not(.sidebar-heading) {
    font-size: 0.875rem;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    padding: 0.25rem 0 0.25rem 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    box-sizing: border-box;

    & + .sidebar-item-children {
      padding-left: 1rem;
      font-size: 0.95em;
    }

    .sidebar-item-children .sidebar-item-children & {
      padding: 0.25rem 1rem 0.25rem 1rem;

      &.active {
        font-weight: 500;
      }
    }

    &.collapsible {
      line-height: 1.5rem;
      padding-bottom: 0rem;
      margin-inline-start: calc(var(--dropdown-icon-width)*-1 + var(--dropdown-icon-gap)*-1);
    }

    &:not(.collapsible) {
      a.sidebar-heading + .sidebar-item-children &.active {
        border-radius: 0.25rem;
        background: #F3F0FF;
        color: var(--c-text-accent);
        min-height: 40px;
        transition: 0.2s all ease-out;  
        padding: 0.25rem 0 0.25rem 1.25rem;    
        height: 36px;  
        display: flex;
        align-items: center;
      }
    }
  }
}

a.sidebar-item {
  cursor: pointer;

  &:hover {
    color: var(--c-text-accent);
  }
}


.dark {
  a.sidebar-heading + .sidebar-item-children .sidebar-item:not(.sidebar-heading):not(.collapsible).active {
    background: rgba(37, 99, 235, 0.15);
    color: rgba(251, 191, 36, 1);    
  }
}


