html.dark {
  // brand colors
  --c-brand: #805AD5;
  --c-brand-light: #0EA5E9;
  --c-brand-hover-accent: rgba(254, 213, 51, 1);

  // background colors
  --c-bg: #0F172A;
  --c-bg-light: #1E293B;
  --c-bg-lighter: #334155;

  // text colors
  --c-text: #eee;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;
  --c-text-code: #f08d49;

  // link colors
  --c-link: #D6A46F;
  --c-link-secondary: var(--c-text-lightest);

  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;

  --c-docs-card-border: #374151;
  --c-docs-card-shadow: 0px 2px 4px 0px rgba(139, 92, 246, 0.2);

  --c-sidebar-heading: #fff;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  --c-social-icon-fill: #0f172a;
  --c-social-icon-bg: #fff;

    // transition vars
    --t-transition: 0.2s all ease-out;

    // box shadow vars
    --box-shadow-standard: 0px 2px 5px 0px rgba(78, 0, 255, 0.3), 0px 1px 2px 0px rgba(255, 255, 255, 0.2);
    --box-shadow-large: 0px 20px 40px 0px rgba(139, 92, 246, 0.1);
}



